body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EDEEF0;
  /* background-image: url('./assets/dragon-scales.svg'); */
  background-size: cover;
  font-family: 'Roboto';
}